.steps {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10rem;
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
    &__card {
        height: 22rem;
        width: 25rem;
        padding: 2rem 1rem;
        border: 1px solid transparent;
        border-radius: .5rem;
        background-color: $color-white;
        box-shadow: 0 .1rem .6rem rgba($color-secondary, .1);
        transform: rotate(45deg);
        @media screen and (max-width: 600px) {
            transform: rotate(0);
            margin-bottom: 2.5rem;
        }
    }
    &__cards {
        &--1 {
            margin-right: -8.5rem;
            margin-bottom: 2.4rem;
            z-index: 1;
            @media screen and (max-width: 600px) {
                margin-right: 0;
                margin-bottom: 2.5rem;
                z-index: 0;
                order: 2;
            }
        }
        &:nth-child(2) {
            margin-top: 15.5rem;
            margin-left: 2rem;
            @media screen and (max-width: 600px) {
                margin-left: 0;
                margin-top: 0;
            }
        }
        &:nth-child(3) {
            margin-left: -8.5rem;
            margin-top: 2.4rem;
            @media screen and (max-width: 600px) {
                margin-left: 0;
                margin-top: 0;
                order: 3;
            }
        }
        &--3 {
            @media screen and (max-width: 600px) {
                position: absolute;
                top: 77rem;
            }
        }
    }
    &__flex {
        display: flex;
        flex-direction: column;
    }
    &__image {
        position: relative;
        height: 3rem;
        width: 3rem;
        margin: 1rem 0;
        left: 7.5rem;
        @media screen and (max-width: 600px) {
            left: 9.5rem;
        }
    }
    &__content {
        transform: rotate(-45deg);
        margin-top: -1rem;
        margin-left: -2rem;
        @media screen and (max-width: 600px) {
            transform: rotate(0);
            margin-top: 0;
            margin-left: 0;
        }
    }
}