.heading {
    &__main {
        font-family: 'gilroy extrabold', sans-serif;
        font-size: 4rem;
        font-weight: 700;
        color: $color-yellow;
        text-transform: capitalize;
        &--1 {
            color: $color-primary;
        }
        @media screen and (max-width: 600px) {
            font-size: 3rem;
        }
    }
    &__primary {
        @include typo;
    }
    &__features {
        @include typo;
        color: $color-white;
    }
    &__sub {
        font-size: 1.8rem;
        font-weight: 500;
        color: $color-primary;
        text-transform: capitalize;
        text-align: center;
    }
    &__small {
        font-size: .7rem;
        font-weight: 800;
        color: $color-dark-grey;
        text-transform: uppercase;
        text-align: center;
    }
}

.paragraph {
    &__home {
        @include primary-texts;
        color: $color-light;
    }
    &__primary {
        @include primary-texts;
        color: $color-grey;
        text-align: center;
    }
    &__text {
        @include text;
        color: $color-grey;
        text-align: center;
    }
    &__text-f {
        font-size: 1.5rem;
        font-weight: 400;
        color: $color-white;
    }
    &__steps {
        @include primary-texts;
        text-transform: capitalize;
        margin-left: 3.5rem;
        @media screen and (max-width: 600px) {
            text-align: center;
            margin-left: 0;
        }
        &--1 {
            color: $color-blue;
        }
        &--2 {
            color: $color-primary;
        }
        &--3 {
            color: $color-purple;
        }
        &--4 {
            color: $color-orange;
        }
    }
}